---
title: Cooking & Eating
---

<% hero = blog.articles.detect { |post| post.data.hero.present? } %>
<% if hero.present? %>
  <div class="row-fluid hero">
    <div class="span7">
      <h1><%= hero.title %></h1>
      <p class="lead"><%= hero.data.hero.summary %></p>
      <%= link_to 'Read More &raquo;', hero.url %>
    </div>
    <div class="span5">
      <%= image_tag hero.data.hero.image %>
    </div>
  </div>
<hr>
<% end %>

<% blog.articles.reject { |a| a == hero }.each_slice(3) do |row| %>
  <div class="row-fluid">
    <% row.each do |post| %>
      <div class="span4">
        <h4><%= post.title %></h4>
        <%= post.summary %>
        <%= link_to 'Read More &raquo;', post.url %>
      </div>
    <% end %>
  </div>
<% end %>
